<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Example App - Home</title>
</head>
<body>

    <!-- Uses built-in `if` helper. -->
  {{#if showTitle}}
    <h1>Home</h1>
  {{/if}}

    <!-- Calls `foo` helper, overridden at render-level. -->
    <p>{{foo}}</p>

    <!-- Calls `bar` helper, defined at instance-level. -->
    <p>{{bar}}</p>

    <div class="data">
        {{data.param}}<br> Income: {{data.income.incomes}} <br> Income Tax: {{data.income.incomeTax}} <br> Income After Tax:{{data.income.incomeAfterTax}}
    </div>

    <div ng-app="myApp">    
        <div ng-controller="myCtrl">
            <form>
            Rate:
            <input type="text" ng-model="rate">
            <br>
            <br> Number of Period:
            <input type="text" ng-model="nper">
            <br>
            <br> Payment:
            <input type="text" ng-model="pmt">
            <br>
            <br> PV: 
            <input type="text" ng-model="pv">
            <br>
            <br> FV: 
            <input type="text" ng-model="fv">
            <br>
            <div class="dropdown">
                <button onclick="selectCalculator()" class="dropbtn">Select Calculator</button>
                <div id="calculatorDropdown" class="dropdown-content">
                    <a href="PV">PV</a>
                    <a href="FV">FV</a>
                </div>
            </div>            
            <input type="submit" value="Submit" ng-click="submit()">
            </form>
        </div>
  </div>
</body>
</html>