<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Example App - Home</title>
</head>
<body>

    <!-- Uses built-in `if` helper. -->
  {{#if showTitle}}
    <h1>Home</h1>
  {{/if}}

    <!-- Calls `foo` helper, overridden at render-level. -->
    <p>{{foo}}</p>

    <!-- Calls `bar` helper, defined at instance-level. -->
    <p>{{bar}}</p>

    <div class="data">
        {{data.param}}<br> Income: {{data.income.incomes}} <br> Income Tax: {{data.income.incomeTax}} <br> Income After Tax:{{data.income.incomeAfterTax}}
    </div>
<!--
    <form onSubmit="return handleIncomeCalculation()">
        Income <input type="text" name="Income" value="60000"><br>
        <input type="submit" value="Submit">
    </form>

    <div class="income-tax-result">
        <label>Income before tax: {{data.income}}</label></br>
        <label>Income tax: {{data.incomeTax}}</label></br>
        <label>Income after tax: {{data.incomeAfterTax}}</label></br>
    </div>
    -->
</body>
</html>